

.income{
    color:green;
}


.cost{
    color: red;
}




table{
    display: table;
    border-collapse:collapse;
    margin: 10px 120px;   
}
table tr,td {
    border:  3px solid green;
    padding:4px 10px;


}


.posValue{
    color:green
}

.negValue{
    color:red;
}